
#x {
  text-align: center;
}
h3 a.pred {
  text-align: center;
  font-size: 30px;
}
h3.pred {
  text-align: center;
  font-size: 30px;
}

h3.dis {
  font-size: 2px;
  text-align: center;
}

.section-light {
  background-color: #eceeef;
  padding:2em;
  background-image: url(../images/sent1.png);
  background-size: cover;
  
}
.darkSection {
  background-color: #eceeef;
  padding: 2em;
}
.coolstuffwrap {
  display: block;
  margin: auto;
  margin-top: 20px;	
}
button.coolstuffbtn {
  background-color: red;
  color: #ffffff;
}
h5.modal-title {
  margin: auto;
}

.col-sm-12 form {
  padding: 2rem 2rem 0rem 8rem;
}

.imgcenter {
  display: block;
  margin: auto;
}

.btnCenter {
  display: block;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 80%;
}

.ftimg {
  padding: 20px;
}
.jumbotron {
  background: none;
  text-align: center;
  
}
img {
  max-width: 100%;
  height :auto;
}
.panel {
  background-color: #262c37;
  margin-top: 1rem;
  color: #eceeef;
}
.panel1 {
  margin-bottom: 1rem;
}
h5.display-4.mm {
  font-size: 40px;
}

